.header{
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  color:"white";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}